<section class="donate">
    <h2>{{ donations[0].terms[0].name }} </h2>
    <p>{{ donations[0].terms[0].description }}
    </p>
    <ul>
        {% for donate in donations %}
            <li><div><img src="{{donate.thumbnail.src}}" alt="{{donate.thumbnail.alt}}"><a href="{{ donate.custom.url }}" class="white-button darkblue-button" >{{ donate.custom.text }}</a></div></li>
        {% endfor %}
    </ul>
</section>