<section class="environmental-issues">
    <h2>{{ environmentals[0].terms[0].name }}</h2>
    <p>{{ environmentals[0].terms[0].description }}</p>
    <ul>
        {% for envi in environmentals %}
            <li><div><a href="{{ envi.link }}"><img src="{{ envi.thumbnail.src }}" alt="{{ envi.thumbnail.alt }}"><span>{{ envi.title }}</span></a></div></li>
        {% endfor %}        
    </ul>
</section>
