{% extends 'base.twig' %}

{% block content %}
        <main>
            <section>
                <h2>Lorem Ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit
    amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. </p>
            </section>
            
            {% include 'partials/work.twig' %}

            <section class="environmental-issues">
                <h2>Environmental Issues</h2>
                <p>I write about all sorts of environmental Issues to raise awareness about the problems. check out
                    my blog if you're interested.
                </p>
                <ul>
                    <li><div><a href="#"><img src="{{ function('get_template_directory_uri') }}/images/mountains-482689_640.jpg" alt="#"><span>Climate</span></a></div></li>
                    <li><div><a href="#"><img src="{{ function('get_template_directory_uri') }}/images/wind-farm-1747331_640.jpg" alt="#"><span>Energy</span></a></div></li>
                    <li><div><a href="#"><img src="{{ function('get_template_directory_uri') }}/images/industry-1761801_640.jpg" alt="#"><span>Air</span></a></div></li>
                    <li><div><a href="#"><img src="{{ function('get_template_directory_uri') }}/images/tree-3822149_640.jpg" alt="#"><span>Ecosystems</span></a></div></li>
                    <li><div><a href="#"><img src="{{ function('get_template_directory_uri') }}/images/ecology-4202701_640.jpg" alt="#"><span>Water</span></a></div></li>
                </ul>
            </section>
            <section class="about-me">
                <h2>About me</h2>
                <div class="about-me-box">
                    <div><img src="{{ function('get_template_directory_uri') }}/images/fred-852770_640.jpg" alt="me"></div>
                    <div class="me-info">
                        <h3 class="me-name">
                            Andy Huber
                        </h3>
                        <p class="me-info-text">
                            Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et
                            dolore magna aliquyam erat, sed diam
                            voluptua. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy
                            eirmod tempor invidunt ut labore et
                            dolore magna aliquyam erat, sed diam
                            voluptua.
                        </p>
                        <a class="white-button about-me-button" href="#">Read more</a>
                    </div>
                </div>
            </section>
            
            {% include 'partials/donations.twig' %}
        </main>

{% endblock %}