<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {{ function('wp_head') }}
</head>
<body>
    {% if post.thumbnail is not null %}
        <header style="background: url('{{ post.thumbnail.src }}') 50% 50%; background-size: cover;">
    {% else %}
        <header>
    {% endif %}
        <div class="header-wrapper">
            <nav>
                <a href="{{ site.url }}">
                    <div class="logo">
                        <div class="logo-name">ANDYHUBER</div>
                        <div class="logo-extra">Water solutions</div>
                    </div>
                </a>
                
                <button id="hamburger" class="hamburger hamburger--spin" type="button"
                aria-label="Menu" aria-controls="navigation" aria-expanded="false">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <ul id="navigation">
                    {% for item in menu.items %}
                        <li><a class="nav-links" {{ item.current ? "aria-current='page'" : "" }} href="{{ item.link }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>

            </nav>
            <h1>{{ get_post_custom_values("heading")[0] }}</h1>
            {% if get_post_custom_values('hero_button_text')[0] != "" and get_post_custom_values('hero_button_url')[0] != "" %}
            <a class="white-button" href="{{ get_post_custom_values('hero_button_url')[0] }}">{{ get_post_custom_values('hero_button_text')[0] }}</a>
            {% endif %}
        </div>
    </header>

    <div class="main-wrapper">

        {% block content %}
            <p>no content</p>
        {% endblock %}
        
    </div>

    <footer>
        <div class="footer-wrapper">
            <div class="footer-links">
                <div>
                    <ul class="footer-social-media-links">
                    
                    {% for item in socials.items %}
                        <li><a href="{{ item.link }}"><span class="dashicons {{ item._menu_image_icon }}"></span></a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div>
                    <ul class="footer-page-links">
                        {% for item in pages_footer.items %}
                            <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="footer-text">
                Andy Huber © Copyright 2020 | All rights reserved | Design by Izzy & Stefan
            </div>
        </div>
    </footer>
    
    {{ function('wp_footer') }}
</body>
</html>